/*New CSS with new logo*/
body {
    background: #ffffff!important;
}

body .header__top{
    background-color: #702283  !important;
}
.l-ltr .header__top{

    padding-bottom: 0px;
}

.l-rtl .header__top {
    padding-bottom: 0px;
}

.nav {
    font-size: 18px;
}
.nav__list__link{
    padding: 0 22px;
}
.is-current>.nav__list__link {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    background-color: #962071 !important;
    line-height: 48px;
    height:48px;
}
.breadcrumb {
    background: #fff;
    border-bottom: 2px solid #962071 !important;
    padding: 5px 0 4px;
}

.footer {
    background-image:none !important;
    background-color: #111111 !important;

}



.btn {

    background-color: #962071;
}

.btn:hover {
    background-color: #702283;
}


.btn.no-hover:hover {
    background-color: #702283;
}

.nav--light.nav__list__item:hover > .nav__list__link {
    border-top: 1px solid #962071 !important;
}


.header__logo__img {
    display: block;
    width: 252px;
    height: auto;
    margin-top: 0px;
}




body aside.side__menu svg {
    opacity: 0;
    visibility: hidden;
    fill: #59358c;
    width: 7px;
    height: 11px;
    margin-right: 7px;
    margin-top: -3px;
}

.linegrediant{
    float: left;
    width:100%;
    height: 5px;
    background: rgba(150,32,113,1);
    background: -moz-linear-gradient(left, rgba(150,32,113,1) 0%, rgba(112,34,131,1) 50%, rgba(89,53,140,1) 75%, rgba(66,0,152,1) 85%, rgba(59,67,149,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,32,113,1)), color-stop(25%, rgba(112,34,131,1)), color-stop(50%, rgba(89,53,140,1)), color-stop(75%, rgba(66,0,152,1)), color-stop(100%, rgba(59,67,149,1)));
    background: -webkit-linear-gradient(left, rgba(150,32,113,1) 0%, rgba(112,34,131,1) 50%, rgba(89,53,140,1) 75%, rgba(66,0,152,1) 85%, rgba(59,67,149,1) 100%);
    background: -o-linear-gradient(left, rgba(150,32,113,1) 0%, rgba(112,34,131,1) 50%, rgba(89,53,140,1) 75%, rgba(66,0,152,1) 85%, rgba(59,67,149,1) 100%);
    background: -ms-linear-gradient(left, rgba(150,32,113,1) 0%, rgba(112,34,131,1) 50%, rgba(89,53,140,1) 75%, rgba(66,0,152,1) 85%, rgba(59,67,149,1) 100%);
    background: linear-gradient(to right, rgba(150,32,113,1) 0%, rgba(112,34,131,1) 50%, rgba(89,53,140,1) 75%, rgba(66,0,152,1) 85%, rgba(59,67,149,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#962071', endColorstr='#3b4395', GradientType=1 );
}

.nav--light .nav__list__item:hover>.nav__list__link {
    border-top: 1px solid #962071 !important;
}

.footer {
    background-image: none !important;
    background-color: #f3f3f3 !important;
}


.l-rtl .list,
.l-rtl .pagination,
.l-rtl .side-nav__list,
.l-rtl .steps__nav {
    font-size: 15px!important;
    margin-right: 0px;
    margin-left: 0;
}

.l-ltr .list,
.l-ltr .pagination,
.l-ltr .side-nav__list,
.l-ltr .steps__nav {
    font-size: 15px!important;
    margin-right: 0px;
    margin-left: 0px;
}

.l-rtl aside.side__menu .tab__content .tab__list .tab_list_item .tab_list_submenu {
    display: none;
    padding-right: 45px;
    padding-left: 10px;
    overflow: hidden;
    background: #e1e1e1;
    margin-left: -20px;
    margin-right: -20px
}


.l-ltr .nav__list__item,
.l-ltr .space-op--half,
.l-rtl .block__head__icon,
.l-rtl .space--half,
.l-rtl .steps__nav__number,
.l-rtl .nav__list__item,
.l-rtl .space-op--half  {
    margin-left: 10px;
    line-height:48px;
}

.l-rtl .nav__list__item{
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.footer__list__link.copyrights{
    color: #959595 !important;
}

.footer__column__title {
    font-weight: bold;
    color: #702283;
    font-size: 16px !important;
    text-transform: uppercase;
}
.l-ltr .footer__column__content {
    border-right: 0px solid #333;
}

.l-rtl .footer__column__content {
    border-left: 0px solid #333;
}
.footer__list__link{
    color: #898989 !important;
    font-size: 14px;
}
.footer__list__link:hover{
    color: #962071 !important;
    font-size: 14px;
}

.l-ltr body {
    font-family: 'AvantGardeITCbyBT-Book', sans-serif!important;
    letter-spacing:1px;
}
.l-rtl body {
    font-family: 'Droid Arabic Kufi', sans-serif!important;
    letter-spacing:0px;
}
.roboto-font {
    font-family: 'AvantGardeITCbyBT-Book', sans-serif!important;
}

.usage-options .option .option-header .dropdown p {
    font-family: 'AvantGardeITCbyBT-Book', sans-serif!important;
}

.theme-default {
    font-family: 'AvantGardeITCbyBT-Book', sans-serif!important;
    background: #f3f3f3;
}

.header__search__input {
    font-size: 14px;
    font-weight: lighter;
    color: #a1a1a1;
    padding: 2px 10px;
    border: 0;
    border-radius: 8px;
    height: 31px;
    margin-top: 8px !important;
}

.header__search__btn {
    background: 0 0;
    padding: 0 5px;
    border: 0;
    position: relative;
    left: -39px;
    top: 3px;

}

.l-rtl body .header__search__btn {
    background: 0 0;
    padding: 0 5px;
    border: 0;
    position: relative;
    left: 39px;
    top: 5px;

}

.header__search__icon {
    fill: #962071;
    display: block;
    width: 18px;
    height: 18px
}

.social-icons {
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin: 3px;
}

.primarycolor{
    color: #702283!important;
    font-size: 16px!important;

}

.l-rtl body header .header__top .align-op-default .header__lang {
    margin-top: 9px;
}

@media only screen and (max-width: 1330px) {

    body header .header__top .align-op-default .header__logo__img {
        width: 140px;
        height: auto;
        margin-top: 0px;

    }

    .header__logo__img {
        margin-right: 20px!important;
    }

    body header .header__top .header__search {
        background: #fff!important;
        margin-right: 10px!important;
    }

    body header .header__top .align-op-default .mobile-menu-icon {
        background: #702283;
        padding: 15px;
        margin-left: -10px;
        margin-top: -5px;
        cursor: pointer;
        height: 50px;
    }

    .header__search {
        float: right;

    }

    .l-ltr .header__search__input {
        border-right: 1px solid #aaa;
        border-radius: 0px;
        border-left: 0px;
    }


    .l-rtl .header__search__input {
        border-left: 1px solid #aaa;
        border-radius: 0px;
        border-right: 0px;
    }


    .header__search__btn {
        background: 0 0;
        padding: 0 5px;
        border: 0;
        position: relative;
        left: 0px;
        top: 3px;

    }
    .l-rtl body header .header__search__input {

        height: auto !important;
        margin-top: 5px !important;
    }

    .l-ltr body header .header__search__input {

        height: auto !important;
        margin-top: 11px !important;
    }

    body header .header__top .align-op-default .header__lang {
        margin-top: 5px!important;
    }
}

@media only screen and (max-width: 767px){
    .l-ltr body header .header__search__input {
        height: auto !important;
        margin-top: 4px !important;
    }
    body header .header__top .header__search {
        background: #fff!important;
        margin-right: 0px !important;
        margin-top: 6px;
    }

}

body aside.side__menu .tab__titles .tab__title {
    width: 47%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#fff;
}

@media only screen and (max-width: 767px){

    body footer .footer__column .footer__column__title {
        font-size: 16px!important;
        padding: 0;
        cursor: pointer;
    }}




body aside.side__menu {

    background: #363636;
}
body aside.side__menu .tab__titles {
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 0;
    background:transparent !important;
}

body aside.side__menu .tab__titles .tab__title.is-active {
    background-color: #962071;
    font-weight: 700!important;
    cursor: default;
    color: #ffffff;
}

body aside.side__menu .tab__content .tab__list .tab_list_item .nav__list__link {
    margin: 20px 0;
    font-size: 16px;
    color: #f3f3f3!important;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
}

body aside.side__menu svg {
    opacity: 0;
    visibility: hidden;
    fill: #f3f3f3;
    width: 7px;
    height: 11px;
    margin-right: 7px;
    margin-top: -3px;
}

body aside.side__menu .tab__content .tab__list .tab_list_item .tab_list_submenu {
    display: none;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
    background: #f3f3f3;
    margin-left: -20px;
    margin-right: -20px;
}

body aside.side__menu .tab__content .tab__list .tab_list_item .tab_list_submenu .tab_list_submenu_item {
    margin: 20px 0px 20px 65px!important;
    font-size: 14px!important;
    color: #898989 !important;
    padding:0px;
    border-bottom: 0px;
}
.l-rtl body aside.side__menu .tab__content .tab__list .tab_list_item .tab_list_submenu .tab_list_submenu_item {
    margin: 20px 65px 20px 0px!important;

}
body aside.side__menu .tab__content .tab__list .tab_list_item .tab_list_submenu .tab_list_submenu_item a:hover{  color: #962071 !important; }

.submenutitle{
    padding: 10px 0px 10px 45px !important;
    background-color: #fff !important;
    color: #702283 !important;
    font-size: 16px!important;
    font-weight: 500!important;
    border-top: 1px solid #f3f3f3 !important;
    border-bottom: 1px solid #f3f3f3 !important;
}
.l-rtl .submenutitle{
    padding: 10px 45px 10px 0px !important;

}
.submenutitle a:hover{color: #962071 !important;}


body aside.side__menu .tab__content .tab__list .tab_list_item.is-active .nav__list__link {
    font-weight: normal!important;
    font-size: 16px!important;
}

body aside.side__menu .tab__titles .tab__title:last-child {
    border-radius: 0 2px 2px 0;
    margin-left: -2px;
}

.l-rtl .footer__column:first-child .footer__column__content {
    border-left: 0px solid #333!important;
}

.l-rtl nav{
    font-size: 16px!important;
}


@media only screen and (max-width: 1330px){
    .l-rtl body header .header__search {
        margin-top: 0px!important;
        direction: rtl!important;
        float: left!important;
        margin-left: 10px;
    }
    .header__logo__img {
        margin-right: 20px!important;
    }
    .l-rtl body .header__search__btn {
        background: 0 0;
        padding: 0 5px;
        border: 0;
        position: relative;
        left: 0 !important;
        top: 2px;
    }
    .l-rtl body footer .footer__column {
        float: right;
        width: 20%;
    }
}

@media only screen and (max-width: 767px){

    .l-rtl body header .header__top .header__search {

        right:auto;
        left: 65px!important;

    }

    .l-rtl body .header__search__btn {

        left: 0;

    }
    .header__search__input {
        height: auto !important;
        margin-top: 5px !important;
    }
    .l-rtl body .header__search__btn {
        background: 0 0;
        padding: 0 5px;
        border: 0;
        position: relative;
        left: 0px!important;
        top: 6px;
    }

}


.lineheight{
    line-height: 22px!important;
}
.dropdown__content__column {

    border-color: #f3f3f3 !important;
}
a .plusMinus {
    font-weight:400;
    float:right;
    padding-right:0px;
    content:"+";
    font-size: 16px;
    margin-left: 10px;


}

.plusMinus{
    font-weight:400;
    float:right;
    padding-right:0px;
    content:"-";
    font-size: 16px;
    margin-left: 10px;


}
.purplestrip{
    border-top: 2px solid #702283;
}

/****************************** Active status of top nav / by Enass Mahfouz
**************************************************

.is-tabs__nav__item.is-active{
 background: #702283 !important;
}

.is-tabs__nav__item.is-active .is-tabs__nav__icon {
    fill: #fff !important;
}

.is-tabs__nav{

    border: 1px solid #962071 !important;
}****/

.is-tabs__nav__item.color-theme.is-active{
    background: #702283 !important;
    display: table-cell;
    color: white;
}

.is-tabs__nav__item.is-active .is-tabs__nav__icon{fill:#fff;}

/*****************************side menu of option back page *****/
.side-nav__list__link {
    padding: 10px 13px !important;
    line-height: 1;
    display: table
}

/***** From main.css / was 10px 20px / affects in side menu of landline call waiting conference call ***********/

.side-nav__list {
    padding: 10px 6px !important;
}

@media only screen and (max-width: 767px){
    .side-nav__list {
        padding: 2px 0px !important;
    }
}

/****************************** Adding margin btween buttons of manage ur landline and Internet /on mega menu / by Enass Mahfouz
******************************************************/
.margin__mega{
    margin-top: 10px !important;
}


/****************************** Side Menu acros website / by Enass Mahfouz
******************************************************/
.side-nav__list__item.is-active .side-nav__list__icon {
    fill: #962071 !important;
}

.side-nav__list__item.is-active .side-nav__list__link {
    color: #962071 !important;}




/****************************** for packages txt color by Enass Mahfouz
******************************************************/


.text-primary{
    color: #962071 !important;
}

.shaped-card__cell{border-right: 1px solid #702283 !important;}


/****************************** Head icon from Red to Purple by Enass Mahfouz
******************************************************/
.block__head__icon {
    fill: #962071 !important;
}

/****************************** Height of footer list by Enass Mahfouz
******************************************************/

.centerfooter {
    margin: 0px 10%;
}

.footer__list {
    min-height: 126px !important;
}

.container-double--ver {
    margin-top: 40px; /*check menu sms and corporate in mobile view was 40px*/
    padding-bottom: 0px !important; /*40px*/
}

@media only screen and (max-width: 800px){
    .container-double--ver {
        margin-top: 0px; /*check menu sms and corporate in mobile view was 40px*/
        padding-bottom: 0px !important; /*40px*/
    }
}


@media only screen and (max-width: 1330px){

    .body footer {
        padding-left: 5px !important; /*20*/
        padding-right: 5px !important; /*20*/
    }}

/****************************** Usage estimator /Estimate ur usage part / by Enass Mahfouz
******************************************************/

.irs-slider{
    background-color: #962071 !important;
}

.usage-options .option-slider .irs-slider.single {
    -ms-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #962071;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #962071;
}

.loading-bar .active-bar .bar-bg .current-bar {

    background-color: #962071 !important;
}

.usage-options .option-slider .irs-bar{
    background-color: #962071 !important;

}

.usage-options .option-slider .irs-grid-pol.active {
    background-color: #962071 !important;
}

.usage-options .dropdown .result .num{
    color: #962071 !important;
}




/****************************** Store Locator page / by Enass Mahfouz
******************************************************/
.icon-map {
    fill: #962071  !important;
}

.form__checkbox:before, .form__radio:before{
    color: #962071 !important;
}


/****************************** Hide side menu in Mobile view from 4u oage , debit direct , visa auto renewel / by Enass Mahfouz
******************************************************/

@media only screen and (max-width: 767px){
    .colxs-hide{
        display: none !important;
    }

}


/****************************** Hide head icon from all pages / by Enass Mahfouz
******************************************************/
.block__head__icon{
    display: none !important;

}


.control-paging{
    top: auto !important;
    bottom: 1%;
}

@media only screen and (max-width: 767px){
    .change-width{
        width: 100% !important;
    }

    .control-paging{
        top: 236px !important;
    }
}

@media only screen and (max-width: 800px){
    .control-paging{top: auto !important;bottom: 2%;}
}
/*******position bullet in main slider / Enass /*************/




/*****************bullets style / Enass / ***********/
.control-paging li a {
    width: 17px!important;
    height: 17px!important;
    display: block!important;
    background: #666!important;
    background: rgba(0, 0, 0, .5)!important;
    text-indent: -9999px!important;
    -o-box-shadow: inset 0 0 3px rgba(255, 255, 255, .3)!important;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3)!important;
    border-radius: 20px!important
}

.control-paging li {
    display: inline-block!important;
    margin: 0 5px!important
}

.control-paging li a:hover {
    background: #333!important;
    background: #962071!important;
}

.control-paging li a.active {
    background: #962071!important;
    cursor: default!important
}


@media only screen and (max-width: 767px){

    .control-paging li a {
        width: 11px!important;
        height: 11px!important;
    }
}

/*************************By jamal ************/

.history-slider .slides .item .item-circle {
    width: 15px;
    height: 15px;
    background-color: #962071 !important; /*by Dina */
    border-radius: 50%;
    position: relative;
    top: -7.5px;
    left: 30px
}


/*********************** Side menu of business ADSL , option back .. *******/


.fill-new{
    background: white !important;
}



/* /////////// */
/* AHMED JAMAL */
/* /////////// */

.footer__list {min-height: auto !important;}
.no-hover{color: #959595 !important;    font-size: 12px!important;}
.no-hover:hover{color: #959595 !important;    font-size: 12px!important;}
.m-b-8{margin-bottom:8px;}
.footer-title{margin-right:20px;margin-top:16px}
.p-l-16{padding-left:16px;}
.p-r-16{padding-right:16px;}
.text-uppercase{text-transform: uppercase;}
.text-primary{color:#702283}
.text-secondary{color:#962071;font-weight: 300;}
.text-white{color:#fff!important;}
.text-black{color:#000!important;}
.bg-primary{background-color: #702283;}
.bg-secondary{background-color: #962071;}
.section-margin{margin: 40px 0px 20px 0px!important;} /*by enass for web view*/
.width-50{width: 50%;display: inline-block;float: left;}
.width-40{width:40%;display: inline-block;float: left;}
.width-60{width:60%;display: inline-block;float: left;}
.p-t-b-7{padding-top: 7%; padding-left: 7%;}
.quick__links {
    font-weight: 700;
    font-size: 14px;
    height: 33px;
    width: 100%;
    margin: 5px 0;
    padding: 7px 10px;
    border-bottom: 1px dotted #d7d7d7;
    background: #f6f6f6;
    cursor: pointer;
}
.large-icon{
    font-size: 7em !important;
}
/******Enass for icon of store locator and chat in home page / in mobile view **/
@media only screen and (max-width: 800px){
    .large-icon{
        font-size: 5em !important;
    }

    .section-margin{margin: 25px 0px 20px 0px!important;} /*by enass for mobile view*/


}

.box-main-head{
    width: 100%;
    padding: 7%;
    border-radius: 16px;
    min-height: 200px;
}
.reserve-number-input{
    padding: 8px 16px;
    height: 42px;
    width: 70%;
    border-radius: 16px;
}
.reserve-number-button{
    height: 42px;
    border-radius: 16px;
}
.store-locator{
    background-image: url('/images/slide-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 16px;
    min-height: 200px;
}
.reserve-mobile{
    background-image: url('/images/slide-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 16px;
    min-height: 200px;
}
.line-1{line-height: 1.1}

/* .l-ltr .columns.-two .columns__item {margin: 1% !important;}
.columns.-two .columns__item {width: 48%;}   */
.overlay{
    background-color: rgba(112, 34, 131, 0.8);
    width: 100%;
    height: 100%;
    display: block;
    min-height: 200px;
    border-radius: 16px;
}
/* Exhibitions SLIDER */
.events_gallery .flex-direction-nav .flex-next:before, .events_gallery .flex-direction-nav .flex-prev:before, .exhibitions-photos-gallery .flex-direction-nav .flex-next:before, .exhibitions-photos-gallery .flex-direction-nav .flex-prev:before, .history-slider .flex-direction-nav .flex-next:before, .history-slider .flex-direction-nav .flex-prev:before {
    background-color: #702283 !important;
}

.flex-control-nav {
    width: 100%;
    position: inherit;
    text-align: center;
}
.section-light{background-color: #f3f3f3 !important;}
/* /////////// */
/* Hover Box */
/* /////////// */

.hover-box,
.hover-box * {  box-sizing: border-box;}
.hover-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}
.hover-box img {max-width: 100%;}
.hover-box .hover-box-layer_bottom {display: block;}
.hover-box .hover-box-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(112, 34, 131, 0.8);
    color: #fff;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hover-box:hover .hover-box-layer_top,
.hover-box.active .hover-box-layer_top {opacity: 1;}
.hover-box .hover-box-text {
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    padding: 8px;
    width: 100%;
}
.hover-box .hover-box-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hover-box.active .hover-box-text_mobile {
    display: block;
}
.hover-btn{width: 50%;}
.exhibitions-photos-gallery .flex-direction-nav .flex-next.flex-prev:before, .exhibitions-photos-gallery .flex-direction-nav .flex-prev.flex-prev:before{
    background-image: url(/images/svgfallback/back.svg);
}
.events_gallery .flex-direction-nav .flex-next.flex-next:before, .events_gallery .flex-direction-nav .flex-prev.flex-next:before, .exhibitions-photos-gallery .flex-direction-nav .flex-next.flex-next:before, .exhibitions-photos-gallery .flex-direction-nav .flex-prev.flex-next:before, .history-slider .flex-direction-nav .flex-next.flex-next:before, .history-slider .flex-direction-nav .flex-prev.flex-next:before {
    background-image: url(/images/svgfallback/next.svg);
}
.exhibitions-photos-gallery .flex-direction-nav .flex-next:before, .exhibitions-photos-gallery .flex-direction-nav .flex-prev:before, .history-slider .flex-direction-nav .flex-next:before, .history-slider .flex-direction-nav .flex-prev:before {
    background-color: rgba(255, 255, 255, 0) !important;
}
/* .exhibitions-photos-gallery {text-align: center;width: 100%;} */
/* ///////////// */
/* CSS SLIDER */
/* ///////////// */
#cc-slider {
    margin: 0 auto;
    max-width: 850px;
    position:relative;
    direction: ltr;
}
#cc-slider input {
    display: none;
    float: left;
    margin: 8px;
}
#cc-slider label, a {
    cursor: pointer;
    text-decoration: none;
}
#slide1:checked ~ #cc-slides .inner { margin-left:0; }
#slide2:checked ~ #cc-slides .inner { margin-left:-100%; }
#slide3:checked ~ #cc-slides .inner { margin-left:-200%; }
#slide4:checked ~ #cc-slides .inner { margin-left:-300%; }
#slide5:checked ~ #cc-slides .inner { margin-left:-400%; }
#overflow { width: 100%;    overflow: hidden;}
#cc-slides article img {width: 100%;}
#cc-slides .inner { width: 500%;line-height: 1.5;}
#cc-slides article {
    width: 20%;
    float: left;
    padding: 1px;
}
#controls {
    height: 25px;
    /*padding-top: 159px;*/
    position: absolute;
    width: 100%;
    bottom:12px;
}
#controls label {   display: none;width: 36px;height: 36px;}
#active {margin: 23% 0 0;   text-align: center;}
#active label {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
}
#active label:hover {background: #ccc;border-color: #777 !important;}
#controls label:hover { opacity: 0.8;}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1) {
    background: url(/images/svgfallback/next-white.svg);
    float: right;
    display: block;
    background-color:none;
}
#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2){
    background: url(/images/svgfallback/back-white.svg);
    float: left;
    display: block;
    background-color:none;
}
/* cc-slider Styling */
#cc-slides {
    padding: 9%;
    padding-bottom: 0%;
}
/* Animation */
#cc-slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
#cc-slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#controls label{
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
#slide1:checked ~ #cc-slides article:nth-child(1) .cctooltip,
#slide2:checked ~ #cc-slides article:nth-child(2) .cctooltip,
#slide3:checked ~ #cc-slides article:nth-child(3) .cctooltip{
    opacity: 1;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    -o-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
}
/* ///////////// */
/* END CSS SLIDER */
/* ///////////// */


/* ///////////// */
/* ACCOUNT LOGIN */
/* ///////////// */

.my-account{
    background: #962071;
    min-height: 350px;
}
.btn-silver{
    margin-top: 8px !important;
    background: #f3f3f3;
    color: #702283;
    font-size: 0.6rem;
    display: block;
    line-height: 13px;
    padding: 4px;
}
.btn-silver:hover{background: #ccc;}
.h1-responsive{font-size: 2.4vw;}
.h4-responsive{font-size: 1.2vw;}
.icon-responsive{font-size: 8vw ;display: block;padding-bottom: 10px;}

/* ///////////////// */
/* END ACCOUNT LOGIN */
/* ///////////////// */

/* ////////////// */
/* HELP & SUPPORT */
/* ////////////// */
.help-support{
    background: #702283;
    padding: 10%;
    padding-bottom: 5%;
    min-height: 350px;
}
.help-icons{
    width: 22%;
    height: 22%;
    margin: 4px;
}
.help-submit-field {
    position: relative;
    margin-top: 16px;
}
.help-input {
    width: 100%;
    padding: 18px;
    border-radius: 15px;
    color: #000;
}
.help-button {
    border-radius: 15px;
    border: 1px solid #fff;
    width: 65%;
    padding: 4px 32px;
}

/* ////////////////// */
/* END HELP & SUPPORT */
/* ////////////////// */
@media  all and (min-width: 1500px), screen\9 {
    .h4-responsive{font-size: 22px;}
    .h1-responsive{font-size: 36px;}
    .icon-responsive{font-size: 124px !important;display: block;}
    .my-account {padding: 3%; padding-bottom:0px;min-height: 440px;}
    .help-support{min-height: 440px;}
    /*#controls {  padding-top: 204px;} */
}

@media  all and (max-width: 767px), screen\9 {
    .h4-responsive{font-size: 2.5vw;}
    .h1-responsive{font-size: 5.5vw;}
    .icon-responsive{font-size: 15vw ;display: block;} /* was font-size: 14vw*/
    .my-account{min-height: 200px;padding: 1%;}
    /* #controls {  padding-top: 0px;}by Enass for working links in mobile view*/
    .help-support{min-height: auto;padding: 5%}
    #overflow {width: 100%;overflow: hidden;height: 180px;}
    #cc-slides {padding: 5%; padding-bottom: 5%;}
    h1{font-size: 1.5em;}
}

@media  all and (max-width: 480px), screen\9 {
    .events_gallery, .exhibitions-photos-gallery, .history-slider {
        margin: 0 -55px;
    }
    .hover-box-text > h3{
        margin:4px 0;
        font-size:0.8rem;
    }
    .hover-box-text > .hover-btn{
        width:70%;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    #overflow {width: 100%;overflow: hidden;height: 180px;}
    .my-account {padding-bottom:0px;min-height: 300px;}
    .help-support{min-height: 300px;}
    /*#controls {  padding-top: 134px;}*/
}
/* //////////// */
/* RTL SUPPORT  */
/* //////////// */
.l-rtl .help-button {right: auto;left:2px;}
.l-rtl .width-50{width: 50%;display: inline-block;float: right;}
.l-rtl .width-40{width:40%;display: inline-block;float: right;}
.l-rtl .width-60{width:60%;display: inline-block;float: right;}
.l-rtl .p-t-b-7 {padding-top: 7%; padding-right: 7%;}
.l-rtl .list-ul{direction: rtl;}
.l-rtl .h1-responsive{direction: rtl;}


.block__head{color: #962071 !important;}



.is-tabs__nav__item.is-activ{
    background: #702283 !important;
}


.icon-responsive {
    font-size: 8vw !important;
    display: block !important;
    padding-bottom: 10px !important;
}
@media only screen and (max-width: 767px){
    .icon-responsive {
        font-size: 15vw !important;
    }
}
@media  all and (max-width: 480px), screen\9 {
    .icon-responsive {
        font-size: 15vw !important;
    }
}





/*Tuesdayss */